<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.shipflow.rbac.mapper.PermissionMapper"><resultMap id="permissionMap" type="com.shipflow.rbac.domain.model.Permission"><constructor><idArg column="id" javaType="java.lang.Long"/><arg column="permission_code" javaType="string"/><arg column="permission_name" javaType="string"/><arg column="description" javaType="string"/></constructor></resultMap><select id="list" resultMap="permissionMap">SELECT id,permission_code,permission_name,description FROM sys_permission ORDER BY id</select></mapper>
